// Place all the styles related to the GeographicAreas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_geographic_area, form.edit_geographic_area {
  input[type=text] {
    width: 300px;
  }

  textarea {
    width: 500px;
    height: 100px;
  }
}
