// Place all the styles related to the HumanTribes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_human_tribe, form.edit_human_tribe {
  input[type=text] {
    width: 300px;
  }

  textarea {
    width: 500px;
    height: 100px;
  }
}
